<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="mohammedmodi">
      <meta name="author" content="mohammedmodi">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>A to Z Hardware</title>
  </head>
  <body>
    <div class="row">
      <h1 class="h1">A to Z Hardware</h1>
    </div>
    <div class="row">
      <div>
      </div>
    </div>
    <div class="row">
      <span class="text-muted small">A to Z Hardware © 2025. All rights reserved.</span>
    </div>
  </body>
</html>
